.Main {
  display: grid;
  /* grid-template-columns: 0px 0px; */
  text-align: left;
  /* background: #252c35; */
  color: #98c359;
  /* font-size: 1cm; */
  /* margin: 15%; */
  margin-left: 15.5%;
  /* margin-right: 15.5%; */
  width: 69%;
  /* margin: 0 auto; */
  margin-top: 100px;
  z-index: 0;
}
.Main > div:nth-child(1) {
  grid-column: 1/1
}
.Main > div:nth-child(2) {
  grid-column: 1/1
}


.App {
  text-align: left;
  /* background: #252c35; */
  color: #98c359;
  /* font-size: 1cm; */
  /* margin: 15%; */
  margin-left: 25%;
  /* margin-right: 15.5%; */
  width: 53%;
  /* margin: 0 auto; */
  margin-top: 80px;
  margin-bottom: 0px;
}

.Input {
  text-align: left;
  background: #252c35;
  color: #98c359;
  font-size: 25px;
  /* margin: 15%; */
  margin-left: 25%;
  /* margin-right: 15.5%; */
  width: 53%;
  /* margin: 0 auto; */
  margin-top: 80px;
  margin-bottom: 0px;
}

.Error {
  text-align: left;
  background: #d4d22e;
  color: #000000;
  font-size: 25px;
  /* margin: 15%; */
  margin-left: 25%;
  /* margin-right: 15.5%; */
  width: 53%;
  /* margin: 0 auto; */
  margin-top: 80px;
  margin-bottom: 0px;
}

.FullValue {
  text-align: left;
  background: #252c35;
  color: #84887f;
  /* font-size: 1cm; */
  /* margin: 15%; */
  /* margin-left: 15.5%; */
  /* margin-right: 15.5%; */
  /* width: 69%; */
  /* margin: 0 auto; */
  margin-top: 80px;
  margin-bottom: 0px;
}

.GoodValue {
  text-align: left;
  background: #252c35;
  color: #98c359;
  /* font-size: 1cm; */
  /* margin: 15%; */
  /* margin-left: 15.5%; */
  /* margin-right: 15.5%; */
  /* width: 69%; */
  /* margin: 0 auto; */
  margin-top: 80px;
  margin-bottom: 0px;
}

.BadValue {
  text-align: left;
  background: #cf2961;
  color: #000000;
  /* font-size: 1cm; */
  /* margin: 15%; */
  /* margin-left: 15.5%; */
  /* margin-right: 15.5%; */
  /* width: 69%; */
  /* margin: 0 auto; */
  margin-top: -57.5px;
  margin-bottom: 25px;
}
/* 
.Table{
  display: table;
  margin-left: 15.5%;
  margin-top: 0.8%;
  border-spacing: 15px 0;
}

.Table-row {
  display: table-row;
} */

.Menu {
  margin-top: 0px;
  margin-left: 15%;
  /* width: 12%; */
  
}

.rc-menu {
  display: table-cell;
  background-color: #252c35;
  /* color: #98c359; */
  font-size: 18px;
  /* width: 32%; */
  /* width: fit-content; */
  /* margin-left: 15.5%; */
  /* margin-right: 25.5%; */
  /* margin-top: 1cm; */
  /* height: 12; */
}

.react-select-plus {
  display: table-cell;
  background-color: #252c35;
  /* color: #98c359; */
  width: 63%;
  font-size: 18px;
  /* margin-left: 15.5%;
  margin-right: 15.5%;
  margin-top: 1cm; */
}

.Empty div {
  width: 25px;
}

.SelectElement {
    background-color: #252c35 !important;
    color: #98c359 !important;
    /* width: 69%; */
    /* margin-left: 15.5%;
    margin-right: 15.5%;
    margin-top: 1cm; */
}

.Select-placeholder,
  .Select--single > .Select-control .Select-value {
    bottom: 0;
    background-color: #252c35 !important;
    color: #98c359 !important;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }



  /* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background: #212121;
	font-size:15px;
	line-height: 32px;
	color: #ffffff;
  /* word-wrap:break-word !important; */
  /* white-space: nowrap; */
  width: auto;
	font-family: 'Helvetica', 'Arial', 'Open Sans', sans-serif;
	}

h1 {
	font-size: 15px;
	text-align: center;
	color: #FFF;
}	

h3 {
	font-size: 15px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:15px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 15px 0;
	/* background-color: rgb(252, 97, 8); */
}

nav ul {
  padding: 0;
  margin: 0;
	list-style: none;
  position: relative;
  width: 350px;
	}
	
nav ul li {
	display:inline-block;
  background-color: rgb(6, 126, 12);
	}

nav a {
	display:block;
	/* padding:0 10px;	 */
	color:#FFF;
	font-size:15px;
	line-height: 35px;
  text-decoration:none;
  width: 350px;
  /* margin: 0 10px; */
}

/* nav a:hover { 
	background-color: #000000; 
} */

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 35px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:350px;
	float:none;
	display:list-item;
  position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-35px; 
  left: 350px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' \279C'; }
li > a:only-child:after { content: ''; }